$sm-breakpoint: 768px;
$md-breakpoint: 992px;
$lg-breakpoint: 1200px;
$xl-breakpoint: 1400px;

.navbar {
  padding: 50px 70px !important;

  p {
    margin: 0px;
  }

  h6 {
    font-weight: bold;
    margin: 0px;
    margin-right: 90px;
  }

  .circle {
    width: 6px;
    height: 6px;
    background-color: #d55757;
    border-radius: 50px;
    margin: 0px 3px;
    margin-bottom: 2px;
  }
}

.disable-scroll {
  overflow-y: hidden;
}

.menu {
  position: fixed;
  right: 70px;
  z-index: 5;
  cursor: pointer;

  .line {
    height: 3px;
    width: 30px;
    background-color: #707070;
    margin: 4px 0px;
    transition: 1s;
  }
}

.white-menu {
  .line {
    background-color: #fff;
  }

  .line2 {
    background-color: transparent;
  }

  .line1 {
    transform: rotateZ(45deg) translate(2px, 9px);
  }

  .line3 {
    transform: rotateZ(-45deg) translate(0px, -9px);
  }
}

.mobile-navbar {
  position: fixed;
  right: 0;
  z-index: 2;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #1f1f1f;
  transform: translate(100vw);
  transition: transform 1s;

  p,
  h2,
  h4 {
    color: #fff;
    margin: 0px;
  }

  h2 {
    font-size: 88px !important;
  }

  h4 {
    font-size: 12px !important;
  }

  .item {
    margin: 40px 0px;
    transition: 0.8s all;

    &:hover {
      transform: rotateZ(2deg);
    }
  }

  .item1 {
    margin-left: 170px;
  }

  .item2 {
    margin-right: 100px;
  }

  .item3 {
    margin-left: 150px;
  }

  .item4 {
    margin-right: 100px;
  }

  .mobile-nav-footer {
    position: absolute;
    bottom: 0;
  }
}

.mobile-navbar-show {
  transform: translate(0);
}

@media screen and (max-width: $md-breakpoint) {
  .mobile-navbar {
    h2 {
      font-size: 50px !important;
    }

    .item1 {
      margin-left: 70px;
    }
    .item3 {
      margin-left: 70px;
    }
  }
}

@media screen and (max-width: $sm-breakpoint) {
  .navbar {
    padding: 30px !important;

    .menu {
      right: 30px;
    }
  }

  .mobile-navbar {
    h2 {
      font-size: 30px !important;
    }

    .item1 {
      margin-left: 70px;
    }
    .item3 {
      margin-left: 70px;
    }
  }
}
