.navbar {
  padding: 50px 70px !important;

  p {
    margin: 0px;
  }

  h6 {
    font-weight: bold;
    margin: 0px;
    margin-right: 90px;
  }

  .circle {
    width: 6px;
    height: 6px;
    background-color: #d55757;
    border-radius: 50px;
    margin: 0px 3px;
    margin-bottom: 2px;
  }
}

.menu {
  position: fixed;
  right: 70px;
  z-index: 5;
  cursor: pointer;

  .line {
    height: 3px;
    width: 30px;
    background-color: #707070;
    margin: 4px 0px;
    transition: 1s;
  }
}

.white-menu {
  .line {
    background-color: #fff;
  }

  .line2 {
    background-color: transparent;
  }

  .line1 {
    transform: rotateZ(45deg) translate(2px, 9px);
  }

  .line3 {
    transform: rotateZ(-45deg) translate(0px, -9px);
  }
}

.mobile-navbar {
  position: fixed;
  right: 0;
  z-index: 3;
  top: 0;
  width: 900px;
  height: 100vh;
  background-color: #1f1f1f;
  transform: translate(100vw);
  transition: transform 1s;

  p,
  h2,
  h4 {
    color: #fff;
  }

  h2 {
    font-size: 88px !important;
  }

  h4 {
    font-size: 12px !important;
  }

  .item {
    margin: 40px 0px;
  }

  .item1 {
    margin-left: 170px;
  }

  .item2 {
    margin-right: 100px;
  }

  .item3 {
    margin-left: 150px;
  }

  .item4 {
    margin-right: 100px;
  }
}

.mobile-navbar-show {
  transform: translate(0);
}
