.project-item {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 200px 0px;
  padding: 100px 0px;
  border-top: 1px solid #CFC9C9;
  border-bottom: 1px solid #CFC9C9;

  h1 {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 130px !important;
    line-height: 130px;
    margin-bottom: 50px;
    overflow-wrap: break-word;
  }

  p {
    line-height: 40px;
    color: #b7b7b7;
    font-size: 20px;
    width: 60%;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .github {
    margin-right: 100px;
    padding: 10px 30px;
    color: white;
    background-color: black;
    font-weight: bold;
    width: 160px;
    height: 50px;

    img {
      margin: 0px;
      padding: 0px;
      margin-right: 10px;
    }

    &:hover {
      color: white !important;
    }
  }

  .project-tools {
    width: 100%;
    margin-bottom: 4px;
    p {
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 16px;
    }

    .tools {
      justify-content: flex-start !important;
    }

    img {
      width: 40px;
      margin-right: 30px;
    }
  }

  @media screen and (max-width: 1200px) {
    .img-main {
      padding: 0px 20px;
      margin-bottom: 30px;
    }

    h1 {
      font-size: 100px !important;
      margin-bottom: 20px;
    }

    p {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 40px !important;
      margin-bottom: 10px;
      line-height: 50px;
    }

    p {
      margin-bottom: 40px;
    }

    .img-main {
      margin-bottom: 0px;
    }
  }
}
